[submodule "inc/simple-win32/_third/MemoryModule"]
	path = inc/simple-win32/_third/MemoryModule
	url = https://github.com/fancycode/MemoryModule
[submodule "inc/simple-win32/_third/CDispatchPtr"]
	path = inc/simple-win32/_third/CDispatchPtr
	url = https://github.com/mmorearty/DispatchPtr
